h1 Recetas
    p
        a(href="/recetas/create") Crear nueva receta
        table
            thead
            tr
             th titulo
             th origen
             th
             th
             th
                tbody
                   each item in recetas
                    tr
                        td #{item.name}
                        td #{item.origen}
    

